<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Datos de los autores</h1>
    <p>Miguel Barbero Álvarez, Grupo de CORE 31</p>
    <p>Alberto Sebastián Lombraña, Grupo de CORE 31</p>
    <p><a href="/">Volver al título</a></p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>
